body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.logo {
    max-width: 400px;
}

.two8 {
    font-size: 28px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 14px 14px;
}

li a:hover {
    background-color: #182b49;
    color: white;
}

.SectionOne {
    display: inline-block;
    background-color: rgb(245, 240, 230);
    box-sizing: border-box;
    padding: 15px;
    padding-top: 10px;
    scroll-margin-top: 148.5px;
}

.SectionTwo {
    display: inline-block;
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
    box-sizing: border-box;
    padding: 15px;
    padding-top: 10px;
    scroll-margin-top: 139px;
}

/* Create a new section (styled the same as the first section) */
.SectionThree {
    display: inline-block;
    background-color: rgb(245, 240, 230);
    box-sizing: border-box;
    padding: 15px;
    padding-top: 10px;
    scroll-margin-top: 139px;
}

.gridc {
    display: inline-grid;
    column-gap: 25px;
    grid-template-columns: auto auto auto auto;
}

.col {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
    padding: 5px;
}